{% for level in goal.levels %}

<h3 class="level">{{level.level}}: 
    {%if level.done %}
        <b class='level_done'>{{ level.name }}</b>
    {% else %}
        <b class='level_todo'>{{ level.name }}</b>
    {% endif %}
    <i class="material-icons md-24">arrow_forward</i>

    {%if level.done %}
        <b class='level_done'>{{ level.prize }}</b>
    {% else %}
        <a href='/{{ level.prize }}'>nagrody dla poziomu</a>
    {% endif %}

    <b class='level_deadline'>[{{ level.deadline }}]</b>
</h3>

{% endfor %}