{% assign index = 0 %}


{% for group in site.data.levels.level-groups %}
<h2>{{ group.name }}</h2>

{% for goal in group.goals %}
{% assign index = index | plus:1 %}
<h2>{{index}}. 
    <b class='level_red'>{{ goal.name }}</b>
</h2>
<h3>Wyjście:
    <b class='level_blue'>{{ goal.base }}</b>
</h3>

{% for level in goal.levels %}

<h3>{{level.level}}: 
    {%if level.done %}
        <b class='level_done'>{{ level.name }}</b>
    {% else %}
        <b class='level_todo'>{{ level.name }}</b>
    {% endif %}
    ->
    <b class='level_prize'>{{ level.prize }}</b>

    <b class='level_deadline'>[{{ level.deadline }}]</b>
</h3>

{% endfor %}
<br/>
{% endfor %} 

<br/>
{% endfor %}