<div id="content-wrapper">
    <div class="inner clearfix">
            <h1>Biblioteczka</h1>
            <div>
                {% assign books = site.data.library.books | sort: 'category' %}            
                {% assign last_category = '' %}      
                {% for book in books %}
                    
                    {% if last_category != book.category %}

                        {% if last_category != '' %}
                            </div>
                            <hr class="book_hr">
                        {% endif %}

                        <h2 class="book_category">{{ book.category }}</h2>    

                        <div class="book_category">

                        {% assign last_category = book.category %} 

                    {% endif %}

                    <div class="book_main">
                        <div class="book_link">
                            <a href="{{ book.url }}">
                               
                                <div class="book">
                                    <div class="book_image">
                                        <img src="{{ book.image }}" width="150" alt="{{ book.title }}">
                                       
                                        {% if book.recommendation %}
                                            <div class="book_recommend">polecana</div>
                                        {% endif %}
                                        
                                    </div>  
                                    <span>{{ book.title }}</span>                            
                                </div>
                            </a>
                        </div>

                        <div class="book_readed" id="color-{{book.readed}}">Przeczytane: <b>{{ book.readed }}%</b></div>

                       
                    </div>
                    
                {% endfor %}
            </div>
            {% include disqus.html %}
    </div>
</div>