<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      <!-- using the split filter -->
      {% assign relevant = paginator.posts | except:"published","false" %}
      {% for post in relevant %}

        {% if forloop.index == 1 and paginator.page == 1 %}
          {% include main-first.html %}
        {% else %}
          {% assign mod = forloop.index | modulo: 2 %}
          {% if mod == 0 %}            
            {% include main-right-side.html %}
          {% else %}
            {% include main-left-side.html %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      {% include pagination.html %}
    </section>
    {% include sidebar.html %}
  </div>
</div>