<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
      <!-- using the split filter -->
      {% for post in site.posts limit:20 %}
      <span class="post-date">{{ post.date | date: "%d.%m.%Y" }}</span>
      <div class="post-preview">
        <h2>          
          <a href="{{ post.url }}">
            <img src="{{ post.image }}" class="post_image"/>
            {{ post.title }}
            </a>         
        </h2>
        
        {{ post.content | split:'<!--break-->' | first }}
        {% if post.content contains '<!--break-->' %}
          <a href="{{ post.url }}">więcej</a>
        {% endif %}
      </div>
      <hr> {% endfor %}
    </section>
    {% include sidebar.html %}
  </div>
</div>