<div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
          {% assign podcasts = (site.posts|where:"categories" contains "Podcast") %}
          {% for post in podcasts %}
              {% assign mod = forloop.index | modulo: 2 %}
              {% if mod == 0 %}            
                {% include main-right-side.html %}
              {% else %}
                {% include main-left-side.html %}
              {% endif %}
            
          {% endfor %}
      </section>
      {% include sidebar.html %}
    </div>
  </div>