<div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
          {% for post in site.posts | except:"published","false" %}
            {% if post.categories contains page.software %}
              {% assign mod = forloop.index | modulo: 2 %}
              {% if mod == 0 %}            
                {% include main-right-side.html %}
              {% else %}
                {% include main-left-side.html %}
              {% endif %}
            {% endif %}
          {% endfor %}
      </section>
      {% include sidebar.html %}
    </div>
  </div>