<div id="content-wrapper">
  <div class="inner clearfix">
    <section id="main-content">
        {% assign timeframe = 604800 %}
        {% for post in site.posts %}
          {% assign post_in_seconds = post.date | date: "%s" | plus: 0 %}
          {% assign recent_posts = "now" | date: "%s" | minus: timeframe  %}
        
          {% if post_in_seconds > recent_posts %}

            {% assign mod = forloop.index | modulo: 2 %}
            {% if mod == 0 %}            
              {% include main-right-side.html %}
            {% else %}
              {% include main-left-side.html %}
            {% endif %}
          {% endif %}
        {% endfor %}
    </section>
    {% include sidebar.html %}
  </div>
</div>