div.book_category {    
    display: flex;
    flex-flow: row wrap;   
    -webkit-align-items: flex-start;
    align-items: flex-start; 
}


div.book_main{
    margin: auto;
    height: 450px;
}

div.book {
    padding: 0 6px;
    text-align: center;
    width: 240px;
    display: block;
    font-size: 18px;
}

div.book_image {
    position: relative;
}

div.book_link {
    display: block;
    clear: both;
}

h2.book_category {    
    text-align: left;
    display: block;
    clear: both;
    padding:15px;    
}

hr.book_hr{
    clear: both;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

div.book_recommend {
    top: 10px;
    left: 10px;
    position: absolute;
    color: black;
    font-size: 16px;
    border: solid black 1px;
    border-radius: 5px;
    background: lightgreen;
    padding: 2px 5px 2px 5px;
}

div.book_readed {
    font-size: 20px;
    width:240px;
    height:30px;
    border: solid black 1px;
    color:black;
    margin: 5px 0px 5px 0px;
}

@for $i from 0 through 9 {
    #color-#{$i} {
        background: linear-gradient(to right,  gray 0%,lightgray $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 10 through 19 {
    #color-#{$i} {
        background: linear-gradient(to right,  gray 0%,gray $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 20 through 29 {
    #color-#{$i} {
        background: linear-gradient(to right,  darkgray 0%,darkgray $i * 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 30 through 39 {
    #color-#{$i} {
        background: linear-gradient(to right,  yellow 0%,yellow $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 40 through 49 {
    #color-#{$i} {
        background: linear-gradient(to right,  gold 0%,gold $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 50 through 59 {
    #color-#{$i} {
        background: linear-gradient(to right,  darkgoldenrod 0%,darkgoldenrod $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 60 through 69 {
    #color-#{$i} {
        background: linear-gradient(to right,  lightgreen 0%,lightgreen $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 70 through 79 {
    #color-#{$i} {
        background: linear-gradient(to right,  green 0%,green $i* 1%, lightgray $i* 1%,lightgray 100%);
    }
}

@for $i from 80 through 89 {
    #color-#{$i} {
        background: linear-gradient(to right,  darkgreen 0%,darkgreen $i* 1%, lightgray $i* 1%,lightgray 100%);
        color:white;
    }
}

@for $i from 90 through 99 {
    #color-#{$i} {
        background: linear-gradient(to right,  blue 0%,blue $i* 1%, lightgray $i* 1%,lightgray 100%);
        color:white;
    }
}

#color-100 {
    background:darkblue;
    color:white;
}