div.level_1 {
    width: 30px;
    height: 30px;
    background-color: green;
    color: black;
    text-align: center;
    font-weight: bold;
}

div.level_2 {
    width: 30px;
    height: 30px;
    background-color: blue;
    color: black;
    text-align: center;
    font-weight: bold;
}

div.level_3 {
    width: 30px;
    height: 30px;
    background-color: red;
    color: black;
    text-align: center;
    font-weight: bold;
}


div.level_a {
    float:left;
}

div.level_block {
    display: inline;
}

b.level_blue {
    color: blue;
}

b.level_green {
    color: green;
}

b.level_todo {
    color: green;
}

b.level_done {
    color: darkgreen;
    text-decoration: line-through;
}

b.level_prize {
    color: darkorange;
}

b.level_red{
    color: red;
}

b.level_deadline{
    color: darkred;
}

b.level_inspire{
    color: orangered;
}

