.h-1 {
    background: lightblue; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 24pt;
    color: black;
}

.h-2 {
    background: lightsalmon; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 20pt;
    color: black;
}

.h-3 {
    background: #00aa00; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 16pt;
    color: black;
}

.h-4 {
    background: gold; 
    padding: 12px;
    display: block;   
    text-align: center;
    font-size: 24pt;
    color: black;
    font-weight: bold;
}

.h-allert-1 {
    background: red; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 20pt;
    color: white;
}

.center_big {
    margin: 20px;
    display: block;  
    text-align: center;
    font-size: 20pt;
}

.color-1
.color_1 {
    color: red;
}

.color-2
.color_2 {
    color: blue;
}

.color-3 
.color_3 {
    color: lightblue;
}

