.h-1 {
    background: lightblue; 
    padding: 10px;
    display: block;   
    text-align: center;
    font-size: 24pt;
    color: black;
}

.center_big {
    margin: 20px;
    display: block;  
    text-align: center;
    font-size: 20pt;
}

.color_1 {
    color: red;
}

.color_2 {
    color: blue;
}

.color_3{
    color: lightblue;
}

