
.post-right-image {
    float: right;
    padding: 10px;
}


.post-left-image {
    float: left;
    padding: 10px;
}

.post-center-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
}

.book-image {
    width: 70px;
    height: 100px;
    float: left;
    padding: 10px;
}
