
.post-right-image {
    width: 40%;
    float: right;
    padding: 10px;
}


.post-left-image {
    width: 40%;
    float: left;
    padding: 10px;
}



.book-image {
    width: 70px;
    height: 100px;
    float: left;
    padding: 10px;
}
