.tdd-green {
    width: 220px;
    display: block;  
    margin: 0 auto; 
    font-size: 18pt;
    background:green; 
    text-align: center; 
    padding: 5px;
    color: black;
}

.tdd-red {
    width: 220px;
    display: block;  
    margin: 0 auto; 
    font-size: 18pt;
    background: red; 
    text-align: center; 
    padding: 5px;
    color: black;
}