---
---


@import "{{ site.theme }}";

header {
    height: 220px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

footer{
    text-align: center
}

#main-content h1,#main-content h2,#main-content h3,#main-content h5, #main-content h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

h3 {
    font-size: 20pt;
}

#main-content {
    text-align: justify;
    text-justify: inter-word;
    font-size: 14pt;
}

a.button { 
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.post-date {
    float: right;
}


div.post_image {
    float: left;
    margin-right: 10px;
}

div.post_image img {
    width: 200px;
    height: auto;    
}

div.post_preview {
    overflow:auto;
    display:block;
    min-height:100%;    
}

div.post_preview:nth-child(2n){
    background:rgba(204, 204, 204, 0.089);
  }


#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before
{
    content: none;
    margin-left: 0px;
}




  @import 'nav';

  @import 'pagination';